polars>=1.0
numpy
pytest
pyright
rich
msgpack
pyzmq
orjson

feedparser
psutil

python-dotenv
tzdata
fastapi>=0.115
httpx
uvicorn[standard]>=0.30
aiohttp
requests
pydantic>=2
pytest-asyncio
trio
pytest-trio
Cython
joblib
scikit-learn
